<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcos.myapplication">
    <uses-library android:name="com.google.android.maps" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hora do Remédio"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!---->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!---->
        <activity android:name=".Repeating_activity" />
        <!---->
        <receiver android:name=".ReceberAlarme"/>
        <!---->
        <activity
            android:name="com.example.marcos.myapplication.NewMedicamentoActivity"
            android:label="@string/title_activity_new_medicamento" >
        </activity>
        <!---->
        <activity
            android:name="com.example.marcos.myapplication.ListMedicamentosActivity"
            android:label="@string/title_activity_list_medicamentos" >
        </activity>
        <!---->
        <activity android:name=".PlacePickerActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_api"/>
    </application>

</manifest>